In [1]:
import pandas as pd
import numpy as np

In [2]:
wheel_torque = pd.read_csv("../data/torque_for_each_gear.csv")

In [3]:
wheel_torque

          T         1st         2nd         3rd         4th
0    33.187  548.362650  398.809200  332.407468  287.142624
1    33.645  555.930375  404.313000  336.994886  291.105360
2    34.556  570.983209  415.260515  346.119640  298.987571
3    37.118  613.316204  446.048148  371.781131  321.154667
4    39.497  652.625413  474.636664  395.609660  341.738398
..      ...         ...         ...         ...         ...
105  33.414  552.113466  401.537066  334.681145  289.106688
106  32.795  541.885471  394.098524  328.481120  283.750937
107  31.958  528.055370  384.040269  320.097564  276.508994
108  31.175  515.117535  374.630934  312.254884  269.734273
109  30.322  501.023060  364.380407  303.711069  262.353893

[110 rows x 5 columns]

In [4]:
rpm_v_road_speed = pd.read_csv("../data/rpm_vs_road_speed.csv")

In [5]:
rpm_v_road_speed

       RPM        1st        2nd        3rd        4th
0     4100   5.277352   7.256359   8.705890  10.078277
1     4200   5.406068   7.433344   8.918229  10.324088
2     4300   5.534784   7.610328   9.130568  10.569900
3     4400   5.663500   7.787312   9.342906  10.815712
4     4500   5.792216   7.964297   9.555245  11.061523
..     ...        ...        ...        ...        ...
105  14600  18.792523  25.839719  31.001462  35.888498
106  14700  18.921239  26.016703  31.213801  36.134310
107  14800  19.049954  26.193687  31.426140  36.380121
108  14900  19.178670  26.370672  31.638478  36.625933
109  15000  19.307386  26.547656  31.850817  36.871745

[110 rows x 5 columns]

In [6]:
rpm_torque = pd.read_csv("../data/rpm_torque.csv")

In [7]:
rpm_torque

       rpm  torque
0     4100  33.187
1     4200  33.645
2     4300  34.556
3     4400  37.118
4     4500  39.497
..     ...     ...
105  14600  33.414
106  14700  32.795
107  14800  31.958
108  14900  31.175
109  15000  30.322

[110 rows x 2 columns]

In [8]:
def find_torque_given_velocity(velocity: float, gear: str = "1st", wheel_torque=wheel_torque, rpm_v_road_speed=rpm_v_road_speed, rpm_torque=rpm_torque):
    rpm = 0
    for _, row in rpm_v_road_speed.iterrows():
        if row[gear] < velocity:
            rpm = row["RPM"]
        else:
            break

    engine_torque = rpm_torque.loc[rpm_torque.rpm == rpm, 'torque'].reset_index(drop=True)[0]

    torque = 0
    for _, row in wheel_torque.iterrows():
        if row["T"] < engine_torque:
            torque = row[gear]
        else:
            break

    return torque

USAGE
- first input is a speed in m/s
- second input is the gear as a string WITH the letters after it

In [16]:
find_torque_given_velocity(9, '1st')

663.9439543